footer .contact_soc{
  padding-bottom: 50px;
}


.page_404{
  font-size: 90px;
}
.page_404 span{
  display: block;
}
.page_404 a:hover{
    border-bottom: none;
}
.page_404 a{
  font-size: 40px;
  color: #7d16ff;
  border-bottom: 2px solid #7d16ff;
}
.detail_work{
  position: relative;
}
.detail_work__img{
  margin: 0 auto;
  /*border-top: 2px solid #7d16ff;
  border-bottom: 2px solid #7d16ff;*/
  /*padding: 40px 20px;
  border: 2px solid #d5d5d5;
  border-radius: 20px;  */
  padding-top: 40px;
  padding-bottom: 40px;
}
.detail_work__img img{
  max-width: 100%;
  height: auto;
}

.detail_work__prev,
.detail_work__next{
  width: 23px;
  height: 50px;
  display: block;
  position: absolute;
  top: 10px;
}
.detail_work__prev{
  left: 5px;
  background: url(../img/prev_v.png) no-repeat;
}
.detail_work__next{
  right: 5px;
  background: url(../img/next_v.png) no-repeat;
}
.contact_soc{
  font-size: 0;
}
.contact_soc a{
  color: #7d16ff;
  background: none;
  font-size: 37px;
  padding: 0px;
  height: 37px;
  width: auto;
  line-height: 37px;
  font-size: 37px;
  vertical-align: middle;
}
.contact_soc a i{
  vertical-align: middle;
}
.contact_soc a span{
  font-size: 16px;
  vertical-align: middle;
    line-height: 37px;
}
.contact_soc a:hover{
  color: #7d16ff;
  background: #fff;
}
